$white: #ffff;
$primary: #009EFB;
$primary-200: #007DC7;
$success-100: #00835C;
$info-100: #ADADB3;
$info-200: #84858C;
$info-300: #84858C;
$info-400: #696A71;
$info-500: #58585F;
$info-600: #434347;
$background-full: rgb(241, 240, 240);
